body {
    background-color: #e7e1d5;
    overflow: hidden;
}
.main {
    position: absolute;
    left: -5%;
    top: -5%;
    width: 105%;
    height: 105%;
    /* overflow hidden to enable a sliding animation upon reveal */
    /* overflow: hidden; */
    transform: translateY(-100%);
    transition: 3s ease-in;
}
.revealButton {
    position: absolute;
    top: 3%;
    left: 3%;
    color: #fff;
    font-weight: bolder;
    border-radius: 5%;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #fff;
    background: #ca2f40;
    padding: 0.75rem;
    z-index: 100;
}
.revealButton:hover {
    background: #fff;
    cursor: pointer;
    color: #ca2f40;
}

.main[data-visible="true"] {
    transform: translateY(0%);
}
.picContainer {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-75%, -50%);
    z-index: -3;
    margin: 5rem;
    width: 20rem;
    height: 20rem;
    background: url("partypijon.jpg");
    background-size: contain;
}

@media screen and (max-width: 550px) {
    .picContainer {
        margin-top: 2rem;
    }
    .text {
        margin-top: 3rem;
    }
}
.text {
    font-family: sans-serif;
    position: absolute;
    top: 3rem;
    width: 100%;
    text-align: center;
    z-index: -3;
}
a {
    font-size: 1.3em;
}